{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags keyword_tags %}
{% block top %}{% endblock %}

{% block slides %}
{% endblock %}


{% block all_content %}
    <!-- *****************************************************************************************************************
     HEADERWRAP
     ***************************************************************************************************************** -->
    <div id="headerwrap">
        {% include "includes/home_slides.html" %}
        <div id="headerwrap-text">
            <div class="container">
                <div class="row">
                </div><!-- /row -->
            </div> <!-- /container -->
        </div>
    </div><!-- /headerwrap -->

    <section id="testimonial" class="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="center">
                                <img src="{% static 'images/QGis_Logo_UG.png' %}" width="250px"/>
                            </div>
                        </div>
                        <div class="col-md-6 intro-m">
                            <div class="center intro">
                                <h1>
                                    Welcome to the home page for the South African <a href="http://qgis.org">QGIS</a> User Group.
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

    <section class="alizarin" id="services">
        <div class="container">
            <div id="service">

                <div class="col-lg-12">
                    <div class="center">
                        <h2>Regional Meetups</h2>
                        <p>Since South Africa is a large country, it is not convenient for most of our members to convene in a central location. Instead we are forming regional subgroups.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-graduation-cap"></i>
                            <h4>Cape Town</h4>
                            <p>The Cape Town subgroup had their first meeting on November 10th 2016 at Chief Directorate: National Geo-spatial Information in Mowbray. Have a look at our blog post to see photos from this meeting</p>
			</div>
                        <div class="col-md-4">
                            <i class="fa fa-support"></i>
                            <h4>Gauteng</h4>
                            <p>The first Gauteng meetup is due to be held at the CSIR in Pretoria on November 25th. Please look at our events calendar for details.</p>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-wrench"></i>
                            <h4>Your region?</h4>
                            <p>If you are interested in holding meetups in another region and have sufficient local interest, please let us know and we will add the details here.</p>
                        </div>
                    </div>
                </div>
            </div>
            <! --/container -->
        </div><! --/service -->
    </section>

{% endblock%}

{% block main %}

{{ block.super }}

{% endblock %}
