{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags keyword_tags %}
{% block top %}{% endblock %}

{% block slides %}
{% endblock %}


{% block all_content %}
    <!-- *****************************************************************************************************************
     HEADERWRAP
     ***************************************************************************************************************** -->
    <div id="headerwrap">
        {% include "includes/home_slides.html" %}
        <div id="headerwrap-text">
            <div class="container">
                <div class="row">
                </div><!-- /row -->
            </div> <!-- /container -->
        </div>
    </div><!-- /headerwrap -->

    <section id="testimonial" class="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="center">
                                <img src="{% static 'images/QGis_Logo_UG.png' %}" width="250px"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="center">
                                <img src="{% static 'images/newkartozalogo.png' %}" width="250px" style="margin-top:40px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

    <section class="alizarin" id="services">
        <div class="container">
            <div id="service">

                <div class="col-lg-12">
                    <div class="center">
                        <h2>Key Business Area</h2>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-graduation-cap"></i>
                            <h4>Training and Education</h4>
                            <p>We provide corporate training in the use of FOSSGIS such as QGIS, PostgreSQL/PostGIS, Geoserver
                                etc.
                                We also develop curriculum materials and provide teacher training in order to foster the study
                                of GIS and geospatial technology at schools and universities.</p>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-support"></i>
                            <h4>Deployment and Support</h4>
                            <p>We provide services to help you deploy and maintain FOSSGIS deployments within your organisation.
                                This includes PostgreSQL/PostGIS, Linux based server deployments, QGIS, UMN Mapserver,
                                GeoServer and many others.</p>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-wrench"></i>
                            <h4>Software Development</h4>
                            <p>We provide bespoke services for the development of custom solutions to meet your business needs.
                                These include desktop application development and web development using FOSSGIS.
                                We also provide web application development services (focussing on applications that have a
                                GeoSpatial component)
                                using technologies such as GeoDjango, OpenLayers, PostGIS and many other components.</p>
                        </div>
                    </div>
                </div>
        </div>
        <! --/container -->
    </div><! --/service -->

    </section>

{% endblock%}

{% block main %}

{{ block.super }}

{% endblock %}
