{% load mezzanine_tags rating_tags i18n future %}
<div class="row">

        <div class="col-sm-12">
            <form class="form-inline" role="form" method="post" action="{% url "rating" %}">
                {% nevercache %}
                    {% csrf_token %}
                {% endnevercache %}
                <div class="row">
                    <div class="col-xs-12" style="line-height: 40px;">
                        <div id="rating-{{ rating_object.id }}">
                            {% if rating_average %}
                                {% trans "Current rating" %}: {{ rating_average|floatformat }}
                            {% else %}
                                {% trans "Currently unrated" %}
                            {% endif %}
                        </div>
                    </div>
                {% if not rated or request.user.is_authenticated %}
                    <div class="col-xs-6">
                        <ul class="radio radio-inline">{{ rating_form.as_ul }}</ul>
                    </div>
                    <div class="col-xs-6">
                        <input type="submit" class="btn btn-default btn-sm rating-submit" value="{% trans "Rate" %}"
                               onclick="return $(this.form).find('input:checked').length == 1;">
                    </div>
                {% endif %}
                </div>
            </form>
        </div>
        <script>
            $('.radio input[type="radio"]').click(function () {
                $('.radio input[type="radio"]').parent().css("color", "rgb(221, 221, 221)");
                $('.radio input[type="radio"]:checked').parent().css("color", "#FFED85");
                $('.radio input[type="radio"]').css("display", "none");
            })
            $('.radio input[type="radio"]').parent().css("color", "rgb(221, 221, 221)");
            $('.radio input[type="radio"]:checked').parent().css("color", "#FFED85");
            $('.radio input[type="radio"]').css("display", "none");
        </script>

</div>
