<div style="border: solid 1px rgba(0, 0, 0, 0.3); padding: 10px">
    For paying the product, please transfer to following bank account.
    <ul style="margin-top: 5px">
        <li>Bank: Standard Bank</li>
        <li>Account name: Geography Gauteng</li>
        <li>Account number: 62483083293</li>
        <li>Branch code: 424359308</li>
        <li>Note: Geography Gauteng is handling conference finances on behalf of SAGTA, OSGeo Africa and the QGIS ZA User Group.</li>
    </ul>
    After paying it, please make payment confirmation in here
    <a style="margin-left: 10px" class="btn btn-primary" target="_blank"
       href="/payment/confirm">confirm
        payment</a>
</div>
