{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load static %}
{% load i18n %}
{% load sitetree %}
{% load bootstrap %}

{% block styles %}
    {% include "_styles.html" %}
    <link href='/static/css/github.css' rel='stylesheet' />

{% endblock %}

{% block head_title %}{% trans "Sponsor Packages" %}{% endblock %}

{% block body_class %}sponsorships{% endblock %}

{% block body %}
    <h1>Sponsor Packages</h1>

    <section id="content_body">
        <div class="container">
            <p>
                Please note that if you are a sponsor you can additionally book Exhibition space.
            </p>
        </div>

        <style>
            table{
                border-collapse: collapse;
                width: 90%;
                margin-left: 20px;
                margin-top: 10px;
            }
            th {
                padding: 10px 10px;
            }
            td {
                padding: 5px 10px;
            }
            table, th, td {
                border: 1px solid lightgrey;
                text-align: center;
            }
        </style>

        <div class="table">
            <table>
                <tr>
                    <th style="text-align: left" width="35%">Sponsorship Levels</th>
                    {% for level in sponsorlevels %}
                    <th>{{ level.name }}<br>{{ level.cost }}</th>
                    {% endfor %}
                </tr>
            {% for benefit in benefits %}
                <tr>
                    <td style="text-align: left">{{ benefit.name }}</td>
                    {% for level in sponsorlevels %}
                        <td>
                            {% for benefitlevel in benefitlevels %}
                                {% if level.name == benefitlevel.level.name and benefit.name == benefitlevel.benefit.name %}
                                    x
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </table>
        </div>

        <div class="container">
            <h4>We are open to your ideas for sponsoring any of the following items:</h4>
            <ul>
                <li>Ice Breaker</li>
                <li>Coffee breaks</li>
                <li>Gala event</li>
                <li>...</li>
            </ul>
            <p>Further information please contact
                <a href="mailto:secretary@sagta.org.za">secretary@sagta.org.za</a>.</p>
        </div>


    </section>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
    <div class="container">
            </div>
             <nav class="navbar navbar-default navbar-fixed-bottom center" role="navigation">
                <p class="text-center" style="padding-top: 8px">
                    Site Hosting by <a href="http://kartoza.com">
                    Kartoza (Pty) Ltd.
                    <img src="{% static "img/kartoza.png" %}" />
                    </a>
                </p>
                </nav>
            </div>
        </div>
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}