{% load static %}
{% load i18n %}

<div class="panel panel-default">
    <h3 class="panel-title">
        <i class="fa fa-bullhorn"></i>
        {% trans "Products" %}
    </h3>
    <div class="panel-body">
        <ul class="thumbnails">
        {% for p in products %}
          <li class="{{ span }}">
            <div class="thumbnail">
            <a href="{{ p.get_absolute_url }}">
        {#      <img#}
        {#     	src="{% get_media_prefix %}{{ p.image }}" alt="">#}
              <h4>{{ p.title }}</h4></a>
            </div>
          </li>
        {% endfor %}
        </ul>
    </div>
</div>