celery
Django==1.8.5
psycopg2
mezzanine==4.2.3
mezzanine_people
mezzanine-references
mezzanine-mdown
django-compressor
icalendar==3.0.1b2
geopy==0.95.1
filebrowser-safe==0.4.5
git+https://github.com/meomancer/mezzanine-modal-announcements.git@develop
git+https://github.com/meomancer/mezzanine-file-collections.git@master
mezzanine-slides
# Raven pinned to 3.3.7 - see
# https://github.com/getsentry/raven-python/issues/337
raven==5.8.1
django-sentry==1.13.5
requests==2.0.0

#cartridge requirement
cartridge==0.12.0


#symposion
django-appconf==1.0.1
django-model-utils==2.3.1
django-reversion==1.9.3
django-sitetree==1.5.1
django-taggit==0.21.5
django-timezone-field==1.3
django-user-accounts==1.2.0
easy-thumbnails==2.2
html5lib==0.9999999
markdown==2.6.2
pytz==2015.6
pyyaml==3.11
ruamel.yaml==0.13.14

pinax-theme-bootstrap==7.1.1
metron==1.3.5
pinax-eventlog==1.0.0
django-jsonfield==0.9.15
dj-static==0.0.6
dj-database-url==0.3.0
gunicorn==19.3.0
pinax-pages==0.3.1
pinax-boxes==2.1.0
taggit-selectize
unicodecsv==0.14.1
mdx_linkify==0.6
pinax

social-auth-core==1.1.0
social-auth-app-django==1.1.0
