cartridge
celery
Django>=1.8,<1.9
django-compressor
filebrowser-safe==0.4.5
geopy==0.95.1
git+https://github.com/dimasciput/mezzanine-careers.git@develop
git+https://github.com/meomancer/mezzanine-modal-announcements.git@develop
git+https://github.com/meomancer/mezzanine-file-collections.git@master
git+https://github.com/meomancer/django-wms-client.git@mezzanine
html5lib==1.0b8
icalendar==3.0.1b2
mezzanine==4.2.3
mezzanine-mdown==0.1a3
mezzanine_people==0.1
mezzanine-references==0.1.5
mezzanine-slides==2.1.2
OWSLib==0.12
psycopg2
raven==6.5.0
xhtml2pdf==0.2b1
pillow==4.2.1

git+https://github.com/kartoza/plugin-host.git@apps

requests==2.0.0

