cartridge
celery
Django>=1.8,<1.9
django-compressor
django-sentry==1.13.5
filebrowser-safe==0.4.5
geopy==0.95.1
git+https://github.com/dimasciput/mezzanine-careers.git@develop
git+https://github.com/meomancer/mezzanine-modal-announcements.git@develop
git+https://github.com/meomancer/mezzanine-file-collections.git@master
git+https://github.com/meomancer/django-wms-client.git@mezzanine
html5lib==0.9999999
icalendar==3.0.1b2
mezzanine
mezzanine-mdown
mezzanine_people
mezzanine-references
mezzanine-slides
OWSLib==0.12
psycopg2
raven==5.8.1
requests==2.0.0
# Raven pinned to 3.3.7 - see
# https://github.com/getsentry/raven-python/issues/337

