{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}
{% load mezzanine_tags %}
{% block left_wrapper %}
{% endblock %}

{% block title %}
    {% editable page.title %}Contact Kartoza now{% endeditable %}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "js/leaflet/1.5.1/leaflet.css" %}">
    <style>
        .about-text {
            text-align: center;
        }

        .contact_us_heading, .contact_us_subheading {
            display: none;
        }

        .contact_us_main {
            background-color: white !important;
            color: black !important;
            padding: 0 !important;
            margin-bottom: 40px;
        }

        .contact_us_main .col-xs-10 {
            margin-left: 0 !important;
            width: 100%;
            padding: 0;
        }

        .contact_us_main input {
            box-shadow: none;
        }

        #contact-section, #office-section {
            padding: 40px;
        }

        #contact-section .col-lg-6 {
            margin-bottom: 80px;
        }

        #map {
            height: 500px;
            width: 100%;
        }

        .leaflet-control-zoom {
            display: none;
        }

        #office-section img {
            float: left;
            margin-right: 20px;
        }
    </style>
{% endblock %}

{% block main %}{{ block.super }}

    {% editable page.richtextpage.content %}
        {% block extra_head %}
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                #mc_embed_signup {
                    background: #fff;
                    clear: left;
                    font: 14px Lato, Arial, sans-serif;
                }

                #mc-embedded-subscribe {
                    clear: both;
                    width: 200px;
                    display: block;
                    margin: 0;
                    font-family: Lato, Arial, Sans-Serif;
                }

                /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
            </script>
            <script type='text/javascript'>(function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);</script>

        {% endblock %}
        <!-- Begin MailChimp Signup Form -->
        <div class="col-xs-12" style="margin-bottom: 40px">
            <div class="about-text">Reach out to us to get custom GIS technology, software support or training today.</div>
            {% include 'contact_us.html' %}
            <div id="contact-section">
                <div class="col-lg-6">
                    <h2>Contact Us</h2><br>
                    <b>Email</b>
                    <br>
                    info@kartoza.com
                    <br><br>
                    <b>Phone</b><br>
                    <b>Petra</b>: +27 (0)73 768 8108<br>
                    {% for office in office.all %}
                        {% if office.telephone %}
                            <b>{{ office.title }}</b>: {{ office.telephone }}<br>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <h2>Details</h2><br>
                    <b>Company name </b>: Kartoza (Pty) Ltd<br>
                    <b>Company registration no </b>: 2014/109067/07<br>
                    <b>VAT Number </b>: 4450266806<br>
                    <b>Joint Managing Directors </b>: Tim Sutton MA, Gavin Fleming MSc PrGISc [PGP1234]<br>
                    <b>Non-Executive Directors </b>: Lawrence Hyslop M.Sc, MBA, PR Eng.<br>
                </div>
            </div>
            <div id="map-section">
                <h3>Where to find us</h3>
                <h5>Our team is spread all accross the world, in 3 different continents and our offices.</h5>
                <br>
                <div id="map"></div>
            </div>
            <div id="office-section">
                {% for office in office.all %}
                    {% if office.address %}
                        <div class="col-lg-6">
                            <img src="{% static "img/pin-orange.svg" %}" class="img-responsive">
                            <b>{{ office.title }}</b><br>
                            {{ office.address }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endeditable %}

    <br><br>
{% endblock %}
{% block contact_form %}
{% endblock %}
{% block right_wrapper %}
{% endblock %}
{% block extra_scripts %}
    <script src="{% static "js/leaflet/1.5.1/leaflet.js" %}"></script>
    <script>
        let map = null;
        (function ($) {
            let personIcon = L.icon($.extend({}, L.Icon.Default.prototype.options, {
                iconUrl: '{% static "img/pin-blue.svg" %}',
                shadowUrl: '{% static "js/leaflet/1.5.1/images/marker-shadow.png" %}',
            }));
            let officeIcon = L.icon($.extend({}, L.Icon.Default.prototype.options, {
                iconUrl: '{% static "img/pin-orange.svg" %}',
                shadowUrl: '{% static "js/leaflet/1.5.1/images/marker-shadow.png" %}',
            }));
            $('.contact_us_button').addClass('btn-primary')
            $('.contact_us_button').removeClass('contact_us_button')

            {# let's create map #}
            map = L.map('map', {
                minZoom: 2,
                maxZoom: 18
            }).setView([29.53522956294847, 12.136006473600666], 2);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            let layer = L.geoJSON(null, {
                onEachFeature: function (feature, layer) {
                    if (feature.properties.type === 'person') {
                        layer.setIcon(personIcon);
                        layer.bindPopup(`
                          <h5>${feature.properties.first_name} ${feature.properties.last_name}</h5>
                          <div>${feature.properties.job_title}</div>
                        `);
                    } else {
                        layer.setIcon(officeIcon);
                        layer.bindPopup(`
                          <h5>${feature.properties.name}</h5>
                          <div>${feature.properties.address}</div>
                          <div>${feature.properties.telephone}</div>
                        `);
                    }
                }
            });
            layer.addTo(map);


            {# add people to map #}
            {% for people in people.all %}
                {% if people.location %}
                    layer.addData({
                        "type": "Feature",
                        "properties": {
                            first_name: '{{ people.first_name|safe }}',
                            last_name: '{{ people.last_name|safe }}',
                            job_title: '{{ people.job_title|safe }}',
                            type: 'person'
                        },
                        "geometry": {{ people.location.json|safe }}
                    });
                {% endif %}
            {% endfor %}

            {# add office to map #}
            {% for office in office.all %}
                {% if office.location %}
                    layer.addData({
                        "type": "Feature",
                        "properties": {
                            name: '{{ office.title|safe }}',
                            telephone: '{{ office.telephone|safe }}',
                            address: '{{ office.address|safe }}',
                            type: 'office'
                        },
                        "geometry": {{ office.location.json|safe }}
                    });
                {% endif %}
            {% endfor %}
        }(jQuery));
    </script>
{% endblock %}
