{% extends "pages/page.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}

{% block title_wrapper %}
{% endblock %}

{% block slides %}
{% endblock %}

{% block all_content %}
    {% block left_wrapper %}
    {% endblock %}
    {% block main_wrapper %}
        <div>
        <div class="row">
            <div class="home-page-back-left-1">
            </div>
            <div class="home-page-back-right-1">
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <div class="row"
                     style="margin-top: 10rem; margin-bottom: 10rem;">
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12">
                            <h1>Unlock insights from your data with the power of GIS </h1>
                        </div>
                        <div class="col-xs-12 home-page-copy-main">
                            We do spatial IT. <br/><br/>
                            We develop, implement and support  systems with a spatial or location component. <br/><br/>
                            We train people to use geospatial technology to its full potential.
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="col-xs-12">
                            <img class="home-page-image"
                                 src="{% static "img/front-page-imac-cover.png" %}">
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 0;">
                        <div class="col-xs-12">
                            <a class="btn btn-primary" href="/contact/">
                                <div class="btn-text">Find your solution</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row home-page-break"></div>
                <div class="hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="home-page-small-image"
                                 src="{% static "img/front-page-training.png" %}">
                        </div>
                        <div class="col-xs-4" style="height: 178px;">
                            <img class="home-page-small-image home-page-small-image-center"
                                 src="{% static "img/front-page-sd.png" %}">
                        </div>
                        <div class="col-xs-4">
                            <img class="home-page-small-image"
                                 src="{% static "img/front-page-deployment-support.png" %}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="text-big-heavy text-center my-1">
                                Skill up with GIS tools and workflows
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-big-heavy text-center my-1">
                                Build a solution
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="text-big-heavy text-center my-1">
                                Host, deploy, maintain and support your tech
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <div class="text-medium my-1">
                                    Train yourself, your team or students to
                                    use geospatial software and discover the
                                    potential of GIS technology.
                                    <br/><br/>
                                    We offer product or business process
                                    training in scheduled courses or as
                                    on-premise training tailored to your
                                    requirements.
                                    <br/><br/>
                                    We also do education interventions and
                                    develop curriculum materials.
                                    <br/><br/>
                                    Learn to use or develop Free and Open
                                    Source GIS Software (FOSSGIS):
                                    QGIS, GeoNode, PostGIS, GeoServer and more
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-medium my-1">
                                    Get a system or application designed for
                                    your specific needs.
                                    <br/><br/>
                                    We build, modify and integrate desktop, web
                                    and mobile applications with Free and Open
                                    Source GIS Software (FOSSGIS).
                                    We use Django, OpenLayers, QGIS and
                                    PostGIS, among others.
                                    <br/><br/>
                                    Our solutions provide:
                                    <br/>• geospatial intelligence
                                     <br/>• data visualisation
                                     <br/>• spatial analysis
                                    location-based services
                                    efficient workflows
                                    business process solutions
                                    integration with anything
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="text-medium my-1">
                                    Implement your solution on-premise or in
                                    the cloud, keep it running optimally and
                                    get help any time.
                                    <br/><br/>
                                    We offer deployment, hosting, maintenance,
                                    support and devops services for our
                                    solutions and most FOSS GIS applications.
                                    <br/><br/>
                                    You’re not on your own! No question or
                                    problem too simple or too complex for our
                                    skilled team to assist you.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row button-row my-1"
                         class="margin-bottom: 5rem;">
                        <div class="col-xs-4 centered-button-container">
                            <a class="btn btn-primary-hollow btn-medium"
                               href="/training-courses">
                                START TRAINING
                            </a>
                        </div>
                        <div class="col-xs-4 centered-button-container">
                            <a class="btn btn-primary-hollow btn-medium"
                               href="/solutions/consulting-development/">
                                GET CUSTOM <br/>DEVELOPED SOFTWARE
                            </a>
                        </div>
                        <div class="col-xs-4 centered-button-container">
                            <a class="btn btn-primary-hollow btn-medium"
                               href="/support-2">
                                Get support, HOSTING, <br/> MAINtenance
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hidden-lg hidden-xl hidden-md training-large">
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <img class="home-page-small-image"
                                 src="{% static "img/front-page-training.png" %}">
                        </div>
                        <div class="col-md-12">
                            <div class="text-big-heavy text-center my-3">
                                Training and Education
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-medium my-1">We provide corporate
                                training in the use of
                                FOSSGIS such as QGIS, PostgreSQL/PostGIS,
                                Geoserver etc. We also develop
                                curriculum
                                materials and provide teacher training in order
                                to foster the study of GIS and
                                geospatial technology at schools and
                                universities
                            </div>
                        </div>
                        <div class="col-md-12 my-3">
                            <a class="btn btn-primary-hollow"
                               href="/training-courses">
                                TRAINING
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <img class="home-page-small-image"
                                 src="{% static "img/front-page-sd.png" %}"
                                 style="height:178px">
                            <div class="text-big-heavy text-center my-3">
                                Software Development
                            </div>
                            <div class="text-medium my-1">We provide bespoke
                                services for the development of
                                custom
                                solutions to meet your business needs. These
                                include desktop application
                                development
                                and
                                web development using FOSSGIS. Our web
                                application development services focus on
                                applications that have a GeoSpatial component
                                using technologies such as
                                GeoDjango,
                                OpenLayers, PostGIS and many other components.
                            </div>
                            <a class="btn btn-primary-hollow my-3"
                               href="/project">
                                PORTFOLIO
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <img class="home-page-small-image"
                                 src="{% static "img/front-page-deployment-support.png" %}">
                            <div class="text-big-heavy text-center my-3">
                                Deployment and Support
                            </div>
                            <div class="text-medium my-1">We provide services to
                                help you deploy and maintain
                                FOSSGIS
                                deployments within your organisation. This
                                includes PostgreSQL/PostGIS, Linux
                                based
                                server deployments, QGIS, UMN Mapserver,
                                GeoServer and many others.
                            </div>
                            <a class="btn btn-primary-hollow my-3"
                               href="/support-2">
                                SUPPORT
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
            <div class="col-xs-12 home-page-philosophy-row home-page-philosophy-row-container">
                <div class="home-page-why-kartoza">
                    <div class="home-page-row-content">

                        <div class="col-xs-12 hidden-xs hidden-sm"
                             style="height: 100%">
                            <div class="col-xs-8 col-xs-offset-2 centerY">
                                <div class="home-page-heading text-center">
                                    Why Kartoza?
                                </div>
                                <div class="row small-headings">
                                    <div class="col-md-3">We support the Free
                                        Software
                                        movement
                                    </div>
                                    <div class="col-md-3">Our team is available
                                        24/7
                                    </div>
                                    <div class="col-md-3">All-in-one
                                        development,
                                        training
                                        and support
                                    </div>
                                    <div class="col-md-3">We’re trusted around
                                        the
                                        world
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        We are a Free and Open Source GIS
                                        (FOSSGIS)
                                        service provider. Choosing FOSSGIS gives
                                        you
                                        the
                                        freedom to share and modify your system
                                        as
                                        your
                                        needs grow and change.
                                        Choosing FOSSGIS avoids vendor lock-in.
                                    </div>
                                    <div class="col-md-3">Our team works from
                                        various time
                                        zones, which means we can provide
                                        professional
                                        support at most times
                                        of the day, no matter
                                        how
                                        complex your query is.
                                    </div>
                                    <div class="col-md-3">We not only develop
                                        and
                                        implement
                                        software to your precise requirements,
                                        but
                                        we
                                        also train your team on how to use the
                                        software,
                                        provide support for your system and
                                        offer
                                        maintenance and hosting packages.
                                    </div>
                                    <div class="col-md-3">Kartoza works with
                                        individuals,
                                        companies and organisations across the
                                        globe,
                                        including the World Bank and government
                                        departments in Australia, Canada and
                                        various
                                        African countries.
                                    </div>
                                </div>
                                <div class="col-xs-12 my-3 centered-button-container">
                                    <a class="btn btn-white-blue btn-center btn-medium"
                                       href="/about"
                                       style="color: black; margin-top: 7rem;">LEARN
                                        MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 hidden-md hidden-lg">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="home-page-heading-small text-center">
                                Our Philosophy
                            </div>
                            <div class="text-small-home text-white my-3">
                                Kartoza is a small company with a big dream: to
                                see
                                Free and Open Source GIS
                                Software (FOSS GIS) make its way into every part
                                of
                                society: Government, Private
                                Enterprise, Academia and private users.
                            </div>
                            <div class="col-xs-12">
                                <a class="btn btn-primary btn-center btn-small"
                                   style="line-height:31px" href="/about">ABOUT
                                    US</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 my-3">
                <div class="home-page-heading text-center"
                     style="color: black; margin-bottom: 1rem">Our Clients
                </div>
                {% include 'clients.html' %}
            </div>
            <div class="col-xs-12 home-page-philosophy-row home-page-philosophy-row-container"
                 style="padding: 0; margin-bottom: -90px">
                <div class="home-page-our-projects">
                    <div class="home-page-row-content">
                        <div class="col-xs-8 col-xs-offset-2 centerY">
                            <div class="home-page-heading text-center col-xs-12"
                                 style="margin-bottom: 0;">
                                A Selection of our Projects
                            </div>
                            <div class="col-xs-12 my-3">
                                <div class="col-xs-4">
                                    <div class="project-tablet-image-1">
                                        <img class="home-page-small-image"
                                             src="{% static "img/home/IPad_InaSAFE.svg" %}">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="project-tablet-image-1"><img
                                            class="home-page-small-image"
                                            src="{% static "img/home/IPad_MFW.svg" %}">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="project-tablet-image-1"><img
                                            class="home-page-small-image"
                                            src="{% static "img/home/IPad_FBIS.svg" %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 my-3 small-headings">
                                <div class="col-xs-4">
                                    <div class="project-home-title">InaSAFE
                                        Disaster
                                        Scenario Contingency Planning software
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="project-home-title">MyFarmWeb
                                        precision agriculture platform
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="project-home-title">FBIS
                                        Freshwater
                                        Biodiversity Information System
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 my-3">
                                <div class="col-xs-12 col-md-4">
                                    <div class="project-home-caption">
                                        DMInnovation
                                        provide (amongst other things)
                                        in-country
                                        support to Indonesia in the area of
                                        Disaster
                                        Planning and risk management. They
                                        contracted Kartoza to co-develop the
                                        InaSAFE
                                        tool, which is a plugin for QGIS.
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="project-home-caption">An
                                        interactive, cloud-based platform for
                                        storing, visualising and comparing all
                                        types
                                        of geographic and IoT agricultural data
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="project-home-caption">FBIS is a
                                        platform for hosting, visualising and
                                        sharing freshwater biodiversity
                                        information
                                        for South African rivers.
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 my-3">
                                <div class="col-xs-4"><a href="/project"
                                                         class="btn btn-white-hollow">READ
                                    MORE</a></div>
                                <div class="col-xs-4"><a href="/project"
                                                         class="btn btn-white-hollow">READ
                                    MORE</a></div>
                                <div class="col-xs-4"><a href="/project"
                                                         class="btn btn-white-hollow">READ
                                    MORE</a></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="home-page-back-left-2 hidden-in-small-screen"></div>
            </div>
            {% block contact_form %}
                {% include 'contact_us.html' with title="Unlock the power of location data now" %}
            {% endblock %}


        </div>

    {% endblock %}

</div>
    <div class="col-xs-2">
        {% block right_wrapper %}
        {% endblock %}
    </div>

{% endblock %}


{% block main %}

    {{ block.super }}

{% endblock %}

{% block extra_js %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1015076958590629',
                xfbml: true,
                version: 'v2.7'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}
