{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title_wrapper %}
{% endblock %}
{% block all_content %}
    {% block left_wrapper %}
    {% endblock %}

    {% block main_wrapper %}

    {% endblock %}

    {% block right_wrapper %}
    {% endblock %}
    <!-- *****************************************************************************************************************
         HEADERWRAP
         ***************************************************************************************************************** -->
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Show your work with this beautiful theme</h3>
                    <h1>Eyecatching Mezzanine Theme</h1>
                    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                    <h5>More Lorem Ipsum added here too.</h5>
                </div>
                <div class="col-lg-8 col-lg-offset-2 himg">
                    <img src="{% static "img/browser.png" %}" class="img-responsive">
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /headerwrap -->

    <!-- *****************************************************************************************************************
     SERVICE LOGOS
     ***************************************************************************************************************** -->
    <div id="service">
        <div class="container">
            <div class="row centered">
                <div class="col-md-4">
                    <i class="fa fa-heart-o"></i>
                    <h4>Handsomely Crafted</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-flask"></i>
                    <h4>Retina Ready</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-trophy"></i>
                    <h4>Quality Theme</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <p><br/><a href="#" class="btn btn-theme">More Info</a></p>
                </div>
            </div>
        </div>
        <! --/container -->
    </div><! --/service -->

    <!-- *****************************************************************************************************************
     PORTFOLIO SECTION
     ***************************************************************************************************************** -->
    <div id="portfoliowrap">
        <h3>LATEST WORKS</h3>

        <div class="portfolio-centered">
            <div class="recentitems portfolio">
                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_09.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_09.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item web-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_02.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_02.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_03.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_03.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_04.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_04.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item books">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_05.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_05.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_06.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_06.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item books">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_07.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_07.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item graphic-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_08.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Graphic Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_08.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item web-design">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_01.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Web Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_01.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

                <div class="portfolio-item books">
                    <div class="he-wrap tpl6">
                        <img src="{% static "img/portfolio/portfolio_10.jpg" %}" alt="">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">A Book Design Item</h3>
                                <a data-rel="prettyPhoto" href="{% static "img/portfolio/portfolio_10.jpg" %}"
                                   class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="#" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->

            </div><!-- portfolio -->
        </div><!-- portfolio container -->
    </div><!--/Portfoliowrap -->

    <!-- *****************************************************************************************************************
     MEET THE TEAM
     ***************************************************************************************************************** -->
    <div class="team block">
        <div class="container">
            <div class="row">
                <hgroup>
                    <h2>Meet the team</h2>
                    <h3></h3>
                </hgroup>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Selection_006-280x280.png"
                                               class="attachment-thumbnail size-thumbnail" alt="Selection_006"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/tim-sutton/"><img width="280" height="280"
                                                                                                src="http://kartoza.co.za/wp-content/uploads/2016/02/Tim-1-280x280.png"
                                                                                                class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                alt="Tim"
                                                                                                srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Tim-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Tim-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Tim-1.png 451w"
                                                                                                sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/tim-sutton/">Tim Sutton</a></h4>
                    <a href="http://kartoza.co.za/team/tim-sutton/" class="position">founder</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Gavin_mugshot-280x280.jpg"
                                               class="attachment-thumbnail size-thumbnail" alt="Gavin_mugshot"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/gavin-fleming/"><img width="280"
                                                                                                   height="280"
                                                                                                   src="http://kartoza.co.za/wp-content/uploads/2016/02/Gavin-2-280x280.png"
                                                                                                   class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                   alt="Gavin"
                                                                                                   srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Gavin-2-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Gavin-2-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Gavin-2.png 451w"
                                                                                                   sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/gavin-fleming/">Gavin Fleming</a></h4>
                    <a href="http://kartoza.co.za/team/gavin-fleming/" class="position">founder</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Christian-280x280.jpg"
                                               class="attachment-thumbnail size-thumbnail" alt="Christian"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/christian-christelis/"><img width="280"
                                                                                                          height="280"
                                                                                                          src="http://kartoza.co.za/wp-content/uploads/2016/02/Christian-2-280x280.png"
                                                                                                          class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                          alt="Christian"
                                                                                                          srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Christian-2-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Christian-2-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Christian-2.png 451w"
                                                                                                          sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/christian-christelis/">Christian Christelis</a></h4>
                    <a href="http://kartoza.co.za/team/christian-christelis/" class="position">director</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1-280x280.png"
                                               class="attachment-thumbnail size-thumbnail wp-post-image" alt="Sunni"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1.png 451w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/ismail-sunni/"><img width="280"
                                                                                                  height="280"
                                                                                                  src="http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1-280x280.png"
                                                                                                  class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                  alt="Sunni"
                                                                                                  srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Sunni-1.png 451w"
                                                                                                  sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/ismail-sunni/">Ismail Sunni</a></h4>
                    <a href="http://kartoza.co.za/team/ismail-sunni/" class="position">developer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1-280x280.png"
                                               class="attachment-thumbnail size-thumbnail wp-post-image" alt="Maul"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1.png 451w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/rizky-maulana-2/"><img width="280"
                                                                                                     height="280"
                                                                                                     src="http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1-280x280.png"
                                                                                                     class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                     alt="Maul"
                                                                                                     srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Maul-1.png 451w"
                                                                                                     sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/rizky-maulana-2/">Rizky Maulana</a></h4>
                    <a href="http://kartoza.co.za/team/rizky-maulana-2/" class="position">Developer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/pp-280x280.jpg"
                                               class="attachment-thumbnail size-thumbnail" alt="pp"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/pp-280x280.jpg 280w, http://kartoza.co.za/wp-content/uploads/2016/02/pp-300x300.jpg 300w, http://kartoza.co.za/wp-content/uploads/2016/02/pp.jpg 640w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/dimas-tri-ciputra/"><img width="280"
                                                                                                       height="280"
                                                                                                       src="http://kartoza.co.za/wp-content/uploads/2016/02/Dimas-280x280.png"
                                                                                                       class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                       alt="Dimas"
                                                                                                       srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Dimas-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Dimas-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Dimas.png 451w"
                                                                                                       sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/dimas-tri-ciputra/">Dimas Tri Ciputra</a></h4>
                    <a href="http://kartoza.co.za/team/dimas-tri-ciputra/" class="position">Developer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/snowboard2-280x280.jpg"
                                               class="attachment-thumbnail size-thumbnail" alt="snowboard2"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/rischan-mafrur/"><img width="280"
                                                                                                    height="280"
                                                                                                    src="http://kartoza.co.za/wp-content/uploads/2016/02/Rischan-1-280x280.png"
                                                                                                    class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                    alt="Rischan"
                                                                                                    srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Rischan-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Rischan-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Rischan-1.png 451w"
                                                                                                    sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/rischan-mafrur/">Rischan Mafrur</a></h4>
                    <a href="http://kartoza.co.za/team/rischan-mafrur/" class="position">Developer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1-280x280.png"
                                               class="attachment-thumbnail size-thumbnail wp-post-image" alt="Irwan"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1.png 451w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/irwan-fathurrahman/"><img width="280"
                                                                                                        height="280"
                                                                                                        src="http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1-280x280.png"
                                                                                                        class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                        alt="Irwan"
                                                                                                        srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Irwan-1.png 451w"
                                                                                                        sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/irwan-fathurrahman/">Irwan Fathurrahman</a></h4>
                    <a href="http://kartoza.co.za/team/irwan-fathurrahman/" class="position">Developer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1-280x280.png"
                                               class="attachment-thumbnail size-thumbnail wp-post-image" alt="Etienne"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1.png 451w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/etienne-trimaille/"><img width="280"
                                                                                                       height="280"
                                                                                                       src="http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1-280x280.png"
                                                                                                       class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                       alt="Etienne"
                                                                                                       srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Etienne-1.png 451w"
                                                                                                       sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/etienne-trimaille/">Etienne Trimaille</a></h4>
                    <a href="http://kartoza.co.za/team/etienne-trimaille/" class="position">Developer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1-280x280.png"
                                               class="attachment-thumbnail size-thumbnail wp-post-image" alt="Maria"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1.png 451w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/maria-solovyeva/"><img width="280"
                                                                                                     height="280"
                                                                                                     src="http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1-280x280.png"
                                                                                                     class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                     alt="Maria"
                                                                                                     srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Maria-1.png 451w"
                                                                                                     sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/maria-solovyeva/">Maria Solovyeva</a></h4>
                    <a href="http://kartoza.co.za/team/maria-solovyeva/" class="position">Designer</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1-280x280.png"
                                               class="attachment-thumbnail size-thumbnail wp-post-image" alt="Perra"
                                               srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1.png 451w"
                                               sizes="(max-width: 280px) 100vw, 280px"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/petra-paton/"><img width="280"
                                                                                                 height="280"
                                                                                                 src="http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1-280x280.png"
                                                                                                 class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                 alt="Perra"
                                                                                                 srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Perra-1.png 451w"
                                                                                                 sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/petra-paton/">Petra Paton</a></h4>
                    <a href="http://kartoza.co.za/team/petra-paton/" class="position">Administrator</a>
                </div>
                <div class="member span3">
                    <div class="avatar">
                        <div class="real"><img width="280" height="280"
                                               src="http://kartoza.co.za/wp-content/uploads/2016/02/Selection_003-280x280.png"
                                               class="attachment-thumbnail size-thumbnail" alt="Selection_003"></div>
                        <div class="digit"><a href="http://kartoza.co.za/team/admire-nyakudya/"><img width="280"
                                                                                                     height="280"
                                                                                                     src="http://kartoza.co.za/wp-content/uploads/2016/02/Admire-1-280x280.png"
                                                                                                     class="attachment-thumbnail size-thumbnail wp-post-image"
                                                                                                     alt="Admire"
                                                                                                     srcset="http://kartoza.co.za/wp-content/uploads/2016/02/Admire-1-280x280.png 280w, http://kartoza.co.za/wp-content/uploads/2016/02/Admire-1-300x300.png 300w, http://kartoza.co.za/wp-content/uploads/2016/02/Admire-1.png 451w"
                                                                                                     sizes="(max-width: 280px) 100vw, 280px"></a>
                        </div>
                    </div>
                    <h4><a href="http://kartoza.co.za/team/admire-nyakudya/">Admire Nyakudya</a></h4>
                    <a href="http://kartoza.co.za/team/admire-nyakudya/" class="position">GIS Professional</a>
                </div>
            </div>
        </div>
    </div>

    <!-- *****************************************************************************************************************
     MIDDLE CONTENT
     ***************************************************************************************************************** -->

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h4>More About Our Agency.</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. </p>
                <p><br/><a href="about.html" class="btn btn-theme">More Info</a></p>
            </div>

            <div class="col-lg-3">
                <h4>Frequently Asked</h4>
                <div class="hline"></div>
                <p><a href="#">How cool is this theme?</a></p>
                <p><a href="#">Need a nice good-looking site?</a></p>
                <p><a href="#">Is this theme retina ready?</a></p>
                <p><a href="#">Which version of Font Awesome uses?</a></p>
                <p><a href="#">Free support is integrated?</a></p>
            </div>
            {% blog_recent_posts 5 as recent_posts %}
            {% if recent_posts %}
                <div class="col-lg-3">
                    <h4>{% trans "Recent Posts" %}</h4>
                    <div class="hline"></div>
                    {% for recent_post in recent_posts %}
                        <p><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></p>
                    {% endfor %}

                </div>
            {% endif %}

        </div>
        <! --/row -->
    </div><! --/container -->

    <!-- *****************************************************************************************************************
     TESTIMONIALS
     ***************************************************************************************************************** -->
    <div id="twrap">
        <div class="container centered">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <i class="fa fa-comment-o"></i>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    <h4><br/>Marcel Newman</h4>
                    <p>WEB DESIGNER - BLACKTIE.CO</p>
                </div>
            </div>
            <! --/row -->
        </div>
        <! --/container -->
    </div><! --/twrap -->

    <!-- *****************************************************************************************************************
     OUR CLIENTS
     ***************************************************************************************************************** -->
    <div id="cwrap">
        <div class="container">
            <div class="row centered">
                <h3>OUR CLIENTS</h3>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="{% static "img/clients/client01.png" %}" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="{% static "img/clients/client02.png" %}" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="{% static "img/clients/client03.png" %}" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="{% static "img/clients/client04.png" %}" class="img-responsive">
                </div>
            </div>
            <! --/row -->
        </div>
        <! --/container -->
    </div><! --/cwrap -->
{% endblock %}
