{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}

{% block meta_title %}{% if person %}{{ person.full_name }}{% else %}{% trans "Person" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for person as keywords %}
    {% for keyword in keywords %}{% if not forloop.first %}, {% endif %}{{ keyword }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ person.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% editable person.title %}{{ person.title }}{% endeditable %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="active">{{ person.title }}</li>
{% endblock %}

{% block main %}

    <h1>{{ person.full_name }}, {{ person.job_title }}</h1>

    {% editable person.first_name person.last_name person.job_title person.bio %}
        <div>
            <!-- image -->
            <img src="{{ MEDIA_URL }}{% thumbnail person.mugshot 300 0 %}"/>
        </div>
    {% endeditable %}

    <div>
        {% if link %}
            <p>Links:</p>
            <ul>
                {% for link in person.personlink_set.all %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <p>{{ person.bio|richtext_filters|safe }}</p>

{% endblock %}