<html>
<head>
         <script type="text/javascript">
         function load()
         {
              window.document.insightly_web_to_contact.submit();
              return;
         }
         </script>
</head>
<body onload="load()">
<form id='insightly_web_to_contact'
      action="https://googleapps.insight.ly/WebToContact/Create"
      method="post" name="insightly_web_to_contact" style="visibility: hidden">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="input-section">Have a question? Get in touch!</h2>
            <div class="input-section col-lg-6"><input name="formId"
                                                       type="hidden"
                                                       value="{{ formId }}"/>
                <label for="insightly_firstName">First Name</label> <input
                        id="insightly_firstName" name="FirstName" type="text"
                        value="{{ FirstName }}"/>
            </div>
            <div class="input-section col-lg-6"><label
                    for="insightly_lastName">Last Name&nbsp;</label> <input
                    id="insightly_lastName" name="LastName" type="text"
                    value="{{ LastName }}"/></div>
            <div class="clear"></div>
            <div class="input-section"><label for="insightly_organization">Organization</label>
                <input id="insightly_organization" name="Organization"
                       type="text" value="{{ Organization }}"/></div>
            <div class="clear"></div>
            <div class="input-section col-lg-6"><input name="emails[0].Label"
                                                       type="hidden"
                                                       value="Work"/>
                <label
                        for="email[0]_Value">Work Email&nbsp;
                </label>
                <input
                        id="emails[0]_Value" name="emails[0].Value"
                        type="text" value="{{ email }}"/>
            </div>
            <div class="input-section col-lg-6">
                <input name="phones[0].Label"
                       type="hidden"
                       value="Work"/>
                <label
                        for="phones[0]_Value">Work Phone&nbsp;</label> <input
                    id="phones[0]_Value" name="phones[0].Value" type="text" value="{{ phone }}"/>
            </div>
            <div class="clear"></div>
            <div class="input-section"><label
                    for="insightly_role">Title&nbsp;</label> <input
                    id="insightly_role" name="Role" type="text" value="{{ Role }}"/></div>
            <div class="input-section"><label for="insightly_background">Additional
                background information</label> <textarea
                    id="insightly_background" name="background">{{ background }}</textarea>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit"
                               class="btn btn-primary btn-large col-xs-8"
                               style="width: 198px"
                               value="Submit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>