{% extends "symposion/proposals/base.html" %}

{% load i18n %}
{% load account_tags %}
{% load bootstrap %}

{% block head_title %}{{ proposal.title }}{% endblock %}

{% block body %}
    <div class="pull-right">
        {% if not proposal.cancelled %}
            {% if request.user == proposal.speaker.user %}
                <a href="{% url "proposal_edit" proposal.pk %}" class="btn btn-default">
                    {% trans "Edit this proposal" %}
                </a>
                <a href="{% url "proposal_cancel" proposal.pk %}" class="btn btn-default">
                    {% trans "Cancel this proposal" %}
                </a>
            {% else %}
                <a href="{% url "proposal_leave" proposal.pk %}" class="btn btn-default">
                    {% trans "Remove me from this proposal" %}
                </a>
            {% endif %}
        {% else %}
            {% trans 'Cancelled' %}
        {% endif %}
    </div>

    <h3>#{{ proposal.number }}: {{ proposal.title }} ({{ proposal.speaker }}, Track: {{ proposal.track }})</h3>

    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#proposal-detail" data-toggle="tab">{% trans "Proposal Details" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="proposal-detail">
                {% include "symposion/proposals/_proposal_fields.html" %}
            </div>

    </div>
</div>
{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}symposion/js/jquery.history.js"></script>
    <script type="text/javascript">
        $(function() {
            var History = window.History;

            $(window).bind("anchorchange", function() {
                $(".nav-tabs a[href='" + location.hash + "']").click();
            });

            $('#.nav-tabs a[data-toggle="tab"]').on('shown', function (e) {
                if (History.enabled) {
                    History.pushState(null, null, $(e.target).attr("href"));
                }
            });
        });
    </script>
{% endblock extra_script %}
