{% extends "pages/page.html" %}
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags keyword_tags %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}


{% block main %}
    <div class="container"></div>
    <section class="emerald" id="title">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Home</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container mtb">
        <div>
            <section class="container">
                {% if page.richtextpage.content %}
                    {{ page.richtextpage.content|richtext_filters|safe }}
                {% else %}
                    Hello World
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}