{% extends "shop/checkout.html" %}
{% load staticfiles i18n mezzanine_tags %}

{% block extra_head %}
    {{ block.super }}
    <script src="{% static "cartridge/js/shipping_fields.js" %}"></script>
{% endblock %}

{% block fields %}
    {% if request.cart.has_items %}
        {% if not request.user.is_authenticated %}
            {% ifinstalled mezzanine.accounts %}
                <p>
                    {% url "login" as login_url %}
                    {% url "signup" as signup_url %}
                    {% with request.path as next %}
                        {% blocktrans %}
                            If you have an existing account or would like to create one, please
                            <a href="{{ login_url }}?next={{ next }}">log in</a> or
                            <a href="{{ signup_url }}?next={{ next }}">sign up</a>.
                        {% endblocktrans %}
                    {% endwith %}
                </p>
            {% endifinstalled %}
        {% endif %}

        {% errors_for form %}

        <fieldset>
            <legend>{% trans "Billing Details" %}</legend>
{#            {% fields_for form.billing_detail_fields %}#}
            <div class="form-group input_{{ form.billing_detail_first_name.id_for_label }} {{ form.billing_detail_first_name.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_first_name.label }}</label>
                {{ form.billing_detail_first_name }}
                {% if form.billing_detail_first_name.help_text %}
                <p class="help-block">{{ form.billing_detail_first_name.help_text }}</p>
                {% elif form.billing_detail_first_name.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_last_name.id_for_label }} {{ form.billing_detail_last_name.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_last_name.label }}</label>
                {{ form.billing_detail_last_name }}
                {% if form.billing_detail_last_name.help_text %}
                <p class="help-block">{{ form.billing_detail_last_name.help_text }}</p>
                {% elif form.billing_detail_last_name.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_street.id_for_label }} {{ form.billing_detail_street.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_street.label }}</label>
                {{ form.billing_detail_street }}
                {% if form.billing_detail_street.help_text %}
                <p class="help-block">{{ form.billing_detail_street.help_text }}</p>
                {% elif form.billing_detail_street.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_city.id_for_label }} {{ form.billing_detail_city.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_city.label }}</label>
                {{ form.billing_detail_city }}
                {% if form.billing_detail_city.help_text %}
                <p class="help-block">{{ form.billing_detail_city.help_text }}</p>
                {% elif form.billing_detail_city.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_state.id_for_label }} {{ form.billing_detail_state.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_state.label }}</label>
                {{ form.billing_detail_state }}
                {% if form.billing_detail_state.help_text %}
                <p class="help-block">{{ form.billing_detail_state.help_text }}</p>
                {% elif form.billing_detail_state.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_postcode.id_for_label }} {{ form.billing_detail_postcode.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_postcode.label }}</label>
                {{ form.billing_detail_postcode }}
                {% if form.billing_detail_postcode.help_text %}
                <p class="help-block">{{ form.billing_detail_postcode.help_text }}</p>
                {% elif form.billing_detail_postcode.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_country.id_for_label }} {{ form.billing_detail_country.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_country.label }}</label>
                {{ form.billing_detail_country }}
                {% if form.billing_detail_country.help_text %}
                <p class="help-block">{{ form.billing_detail_country.help_text }}</p>
                {% elif form.billing_detail_country.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_phone.id_for_label }} {{ form.billing_detail_phone.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_phone.label }}</label>
                {{ form.billing_detail_phone }}
                {% if form.billing_detail_phone.help_text %}
                <p class="help-block">{{ form.billing_detail_phone.help_text }}</p>
                {% elif form.billing_detail_phone.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_email.id_for_label }} {{ form.billing_detail_email.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_email.label }}</label>
                {{ form.billing_detail_email }}
                {% if form.billing_detail_email.help_text %}
                <p class="help-block">{{ form.billing_detail_email.help_text }}</p>
                {% elif form.billing_detail_email.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

        <div class="form-group input_{{ form.billing_detail_shirt_size.id_for_label }} {{ form.billing_detail_shirt_size.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_shirt_size.label }}</label>
                {{ form.billing_detail_shirt_size }}
                {% if form.billing_detail_shirt_size.help_text %}
                <p class="help-block">{{ form.billing_detail_shirt_size.help_text }}</p>
                {% elif form.billing_detail_shirt_size.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_dietary_preferences.id_for_label }} {{ form.billing_detail_dietary_preferences.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_dietary_preferences.label }}</label>
                {{ form.billing_detail_dietary_preferences }}
                {% if form.billing_detail_dietary_preferences.help_text %}
                <p class="help-block">{{ form.billing_detail_dietary_preferences.help_text }}</p>
                {% elif form.billing_detail_dietary_preferences.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_institution_school.id_for_label }} {{ form.billing_detail_nstitution_school.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_institution_school.label }}</label>
                {{ form.billing_detail_institution_school }}
                {% if form.billing_detail_institution_school.help_text %}
                <p class="help-block">{{ form.billing_detail_institution_school.help_text }}</p>
                {% elif form.billing_detail_institution_school.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_sagta_member.id_for_label }} {{ form.billing_detail_sagta_member.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_sagta_member.label }}</label>
                {{ form.billing_detail_sagta_member }}
                {% if form.billing_detail_sagta_member.help_text %}
                <p class="help-block">{{ form.billing_detail_sagta_member.help_text }}</p>
                {% elif form.billing_detail_sagta_member.field.required %}
                <p class="help-block">{% trans "required" %}</p>
                {% endif %}
            </div>

            <div class="form-group input_{{ form.billing_detail_gis_experience.id_for_label }} {{ form.billing_detail_gis_experience.field.type }}
                ">
                <label class="control-label" >{{ form.billing_detail_gis_experience.label }}</label>
                {{ form.billing_detail_gis_experience }}
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "Delivery Details" %}</legend>
            {% fields_for form.same_billing_shipping_field %}
            <div id="shipping_fields">{% fields_for form.shipping_detail_fields %}</div>
            {% fields_for form.additional_instructions_field %}
            {% fields_for form.remember_field %}
        </fieldset>

        {% if not settings.SHOP_CHECKOUT_STEPS_SPLIT and settings.SHOP_PAYMENT_STEP_ENABLED %}
            {% include "shop/includes/payment_fields.html" %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            var phone_pattern = '^0.*$';
            {# billing #}
            $phone_label = $('.input_id_billing_detail_phone label');
            $phone_label.html($phone_label.html() + " <i>(with leading 0)</i>");
            $phone_input = $('.input_id_billing_detail_phone input');
            $phone_input.attr('pattern', phone_pattern);
            {# shipping #}
            $phone_label = $('.input_id_shipping_detail_phone label');
            $phone_label.html($phone_label.html() + " <i>(with leading 0)</i>");
            $phone_input = $('.input_id_shipping_detail_phone input');
            $phone_input.attr('pattern', phone_pattern);

            var $same_delivery_label = '<label class="control-label" for="id_same_billing_shipping">My delivery details are the same as my billing details</label>';
            var $input = $('#id_same_billing_shipping');
            $input.closest('div').append($same_delivery_label);

            var $remember_address_label = '<label class="control-label" for="id_remember">Remember My Address Later</label>';
            $("#id_remember").closest('div').append($remember_address_label);

        });
    </script>

{% endblock %}